*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root{
    background-color: #00DBDE;
    background-image: linear-gradient(90deg, #00DBDE 0%, #FC00FF 100%);
    line-height: 80px;
}

.title{
    font-weight: 200;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.red{
    transition: .4s;
    cursor: context-menu;
}
.red:hover{
    color: red;
}

img{
    width: 300px;
    height: 250px;
}
img:hover{
    -webkit-box-shadow: 9px 10px 12px 14px rgba(89,78,92,1);
    -moz-box-shadow: 9px 10px 12px 14px rgba(89,78,92,1);
    box-shadow: 9px 10px 12px 14px rgba(89,78,92,1);
}
    